@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 75%;
        padding: 0 50px 15px 0px;
        background-color: rgba(20, 20, 20, 0.3);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #f05f40;
    }
}

.equipment-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .equipment-box {
        margin: 20px auto 0;
    }
}

.equipment-box ul {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
